<form [formGroup]="identityForm">

  <h2 class="text-center text-primary">Validate ID</h2>

  <div class="row justify-content-center">
    <div class="">
      <form [formGroup]="identityForm">
        <div class="form-group">
          <input type="text" [ngClass]="{'is-invalid': identityForm.get('idNumber').errors 
          && identityForm.get('idNumber').touched}" class="form-control id-input-layout" formControlName="idNumber"
            placeholder="Enter RSA ID Number">

          <div class="invalid-feedback" *ngIf="identityForm.get('idNumber').hasError('required') 
                    && identityForm.get('idNumber').touched">
            Please enter an ID number</div>

          <div class="invalid-feedback"
            *ngIf="identityForm.hasError('notanumber') && identityForm.get('idNumber').touched">
            Only digits allowed</div>

          <div class="invalid-feedback" *ngIf="identityForm.get('idNumber').hasError('minlength') 
          && identityForm.get('idNumber').touched">
            ID Number cannot be less than 13 digits</div>

          <div class="invalid-feedback" *ngIf="identityForm.get('idNumber').hasError('maxlength') 
          && identityForm.get('idNumber').touched">
            ID Number cannot exceed 13 digits</div>

          <button class="btn btn-success margin-layout-validate" [disabled]="!identityForm.valid" type="button"
            (click)="validateIdentity()">Validate</button>
        </div>
      </form>

      <p class="text-center margin-layout-list">Validated IDs</p>
      <ul class="list-group">
        <table class="table" *ngFor="let identity of identities">
          <thead>
            <tr>
              <th scope="col">ID Number</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Gender</th>
              <th scope="col">Citizenship</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{identity.idNumber}}</td>
              <td>{{identity.dateOfBirth}}</td>
              <td>{{identity.gender}}</td>
              <td>{{identity.citizenship}}</td>
            </tr>
          </tbody>
        </table>
      </ul>
      <div class="form-group">
        <button class="btn btn-success margin-layout-refresh" type="button"
          (click)="refreshIdentities()">Refresh</button>
      </div>
    </div>
  </div>
</form>